*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#build{
    position: relative; 
    top: 100px;
    
    
}
.build1{
    position: absolute;
    right: 230px;
    transform: scaleY(1.2);
     opacity: 0.8;

}
.build2{
     position: absolute;
     right: 0%;
     opacity: 0.8;
     transform: scaleY(1.2);
}
.build3{
    position: absolute;
   opacity: 0.7;
    right: 300px;
    top: 300px;
    transform: scaleX(1.7);
}
.blast{
    position: absolute;
    right: 400px;
    animation: blast 1s 1;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: 1;
}
.plane{
    position: relative;
    bottom: 200px;
    right: 200px;
   animation:plane 2s 1 linear ;
   animation-fill-mode: forwards;
   z-index: -1;
   
    
}

@keyframes plane {
     
    0% { transform: translate(-0,0) scale(0.1) ; }
    100%{ transform: translate(1100px,100px) skewY(20deg) scale(0.7); opacity: 0.3; } 
}
@keyframes blast {
    0%{
       opacity:1;
    }
    100%{
        transform: scale(5); opacity: 0.7;
    }
}
